<div class="container">
    {{#each posts}} {{> post}} {{/each}}

</div>
<div class="d-grid gap-2 col-6 position-absolute bottom-0 start-50 translate-middle-x">
    <button class="btn btn-primary me-md-2" data-toggle="modal" data-target="#create-post" type="button">Add
        post</button>
    <div class="modal fade" id="create-post" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <form>
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">New post</h5>
                    </div>
                    <div class="modal-body">

                        <div class="mb-3">
                            <label for="email-name" class="col-form-label">Title:</label>
                            <input type="text" class="form-control" id="title">
                        </div>
                        <div class="mb-3">
                            <label for="password-text" class="col-form-label">Text:</label>
                            <textarea type="text" class="form-control" id="content"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src='./js/addPost.js'></script>